# Application
PORT=8000

# Database (i am using neonDB)
DATABASE_URL=postgresql://username:password@localhost:5432/db_name

# JWT
JWT_ACCESS_SECRET=your_super_secret_access_key_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=10
